.status__gallery {
    display: flex;
    gap: 0.561rem;
}

.status__gallery--item {
    width: 50px;
}

.status__gallery--item:nth-child(1) {
    flex-grow: 1.5;
}

.status__gallery--item:nth-child(2) {
    flex-grow: 3;
}

.status__gallery--item:nth-child(3) {
    flex-grow: 2;
}

.status__gallery--col {
    display: grid;
    grid-template-rows: repeat(2, auto);
    /*flex-direction: column;*/
    gap: 0.561rem;
}