
.header {
    padding-top: 3rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    display: flex;
    align-items: center;
    gap: 6.4rem;
}

.app-logo {
    font-family: 'Bai_Jamjuree-Bold';
    font-size: 2.4rem;
    color: var(--black-primary);
}

.menu {
    display: none;
    gap: 3.2rem;
    justify-content: center;
    align-items: center;
    height: 3.84rem;
    transition: 0.3s ease;
}

.menu__link {
    font-size: 1.6rem;
    font-family: Inter-Medium;
    color: var(--black-primary);
    padding: 1rem;
    display: inline-block;
}

.nav-menu {
    position: fixed;
    top: 0;
    left: -30rem;
    bottom: 0;
    width: 30rem;
    background-color: var(--white-secondary);
    box-shadow: 0 3rem 5rem 1rem rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 3.5rem;
    border-top-right-radius: 3.5rem;
    padding: 8rem 4rem;
    transition: left 0.3s ease;
    z-index: 9999;
}

.nav-menu.nav-menu--active {
    left: 0;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mobile-menu__item {
}

.mobile-menu__link {
    font-size: 1.6rem;
    color: var(--black-primary);
    padding: 1rem;
    display: block;
}

.nav__button {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--black-primary);
    color: var(--white-primary);
    text-transform: uppercase;
    font-family: Inter-SemiBold;
    border-radius: 5rem;
}

.nav-menu__button {
    margin-top: 3.2rem;
}

.header__button {
    display: none
}

.hamburger-close {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.5rem;
    cursor: pointer;
}

.hamburger-close__line {
    display: inline-block;
    width: 2.2rem;
    height: 0.3rem;
    background-color: var(--black-primary);
    border-radius: 0.3rem;
}

.hamburger-close__top {
    rotate: 45deg;
    translate: 0 7px;
}

.hamburger-close__bottom {
    rotate: -45deg;
}

.hamburger {
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.5rem;
    cursor: pointer;
}

.hamburger__line {
    display: inline-block;
    width: 2.2rem;
    height: 0.3rem;
    background-color: var(--black-primary);
    border-radius: 0.3rem;
}

.hamburger__line--small {
    width: 1.4rem;
}
