@media (min-width: 390px) {
    .home__profile {
        max-width: 70vw;
    }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .home__inner {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .home__profile {
        max-width: 60rem;
        margin-top: 0;
    }

    .home__button--touch {
        width: 209px;
        height: 62px;
        font-size: 1.8rem;
    }

    .home__button--view {
        width: 237px;
        height: 62px;
        font-size: 1.8rem;
    }
}

@media (min-width: 1024px) {
    .menu {
        display: flex;
    }

    .nav-menu {
        left: -30rem !important;
    }

    .header__button {
        display: block;
    }

    .hamburger {
        display: none;
    }

    .home__content {
        margin-block: 6rem;
    }

    .home__title {
        font-size: 4.8rem;
        max-width: 38rem;
    }

    .home__caption {
        font-size: 1.6rem;
        max-width: 38rem;
    }

    .home__buttons {
        flex-direction: row;
    }

    .home__profile {
        width: 40rem;
    }

    .home__banner {
        width: 98.9vw;
    }

    .home__banner--item {
        font-size: 3.2rem;
    }

    .project__cards {
        flex-direction: row;
    }

    .project__card {
        position: relative;
        width: 50%;
    }

    .status__title {
        margin-bottom: 0;
    }

    .status__expertise {
        font-size: 4.4rem;
        max-width: 406px;
        line-height: 125%;
    }

    .status__caption {
        font-size: 3.2rem;
        line-height: 3.8rem;
        max-width: 45.084rem;
    }

    .status__desc {
        font-size: 1.8rem;
        max-width: 45.084rem;
    }

    .status__box {
        flex-direction: row;
        gap: 9.9rem;
    }

    .status__activity--num {
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 125%;
    }

    .status__gallery {
        height: 44.64rem;
    }
}

@media (min-width: 1400px) {
    .status__gallery {
        height: 620px;
    }

    /*.status__gallery--item:nth-child(3) {*/
    /*    flex-grow: 1.5;*/
    /*}*/
}

@media (min-width: 1440px) {
    .status__content {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 6.4rem;
    }

    .status__title {
        font-size: 3.2rem;
        margin-bottom: 1.6rem;
        font-weight: 700;
    }

    .status__expertise {
        font-size: 6.4rem;
    }

    .status__caption, .status__desc {
        max-width: 63.4rem;
    }
}